<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Home</a>
            <a class="extra" href="/about.html">About</a>
            <a class="extra" href="/develop.html">Develop</a>
            <a class="extra" href="/essay.html">Essay</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                JIN Min Jie (金敏捷)<br />
                Web Desginer\Developer\Deployer<br />
                emj365@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/emj365">github.com/emj365</a><br />
                <a href="https://twitter.com/jinminjie">twitter.com/jinminjie</a><br />
                <a href="http://www.flickr.com/people/8610803@N08/">www.flickr.com/people/8610803@N08</a><br />
                <a href="http://weibo.com/1878653054">http://weibo.com/1878653054</a><br />
              </p>
            </div>
          </div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46298420-1', 'jinminjie.com');
          ga('send', 'pageview');

        </script>
    </body>
</html>
